<!DOCTYPE html>
<html>
  <head>
    <title>ProjetoFinalTreinadev02Etapa01</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in?%>
      <p> Olá <%= current_user.email %> </p>
      <%= link_to 'Sair', destroy_user_session_path, method: :delete%>
    <% else %>
      <% if headhunter_signed_in?%>

        <% else %>
      <%= link_to 'Quero uma vaga', new_user_session_path%>
      <% end %>
    <% end %>

    <% if headhunter_signed_in?%>
      <p> Olá <%= current_headhunter.email %> </p>
      <%= link_to 'Sair', destroy_user_session_path, method: :delete%>
    <% else %>
      <% if user_signed_in?%>

        <% else %>
      <%= link_to 'Ofereço uma vaga', new_headhunter_session_path%>
        <% end %>
    <% end %>

    <%= notice %>
    <%= alert %>
    <%= yield %>
  </body>
</html>
